@import "tailwindcss";
@import "@fontsource-variable/vazirmatn";

@theme {
  --font-sans: "Vazirmatn Variable", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    font-family: var(--font-sans);
    font-feature-settings: "ss01" on;
  }
}
